body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #90f193;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 0;
}

nav {
    background-color: #f78f5b;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

nav ul li a:hover {
    background-color: #9ed3ff;
    color: black;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    background-color: #ffcc00;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.service-box:hover {
    transform: scale(1.05);
}
.service-image {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
}

footer {
    text-align: center;
    background-color: #333;
    color: rgb(254, 254, 151);
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
